本文件主要介绍服务端系统几个结构：
包括的restful api
1、登录功能：@api.route('/user/add',methods=['get','post'])
2、删除用户信息功能：@api.route('/user/delete/<username>',methods=['get','post'])
3、更新聊天室人员：@api.route('/user/update',methods=['get','post'])
4、实现实时统计在线人员人数：
	2017年11月7日，
		程序更改了，以前版本程序，每次浏览器刷新的时候，或者关闭标签页然后再次打开，会话全部会得到保存在
		localstorage里面，并且对于websocket，客户端监听服务器关闭比较容易，从客户端好判断。但是如果
		客户端的websocket关闭的时候，要想在服务器端监听，就比较困难，所以我是采用发送异常来判定客户端
		socket是否关闭。
		
		所以最终实现在线人员，较为实时的统计，我是采用这样的方法：
		每当客户端发送消息的时候，如果遇到报错的，就把该客户端连接从库中删除，并且把相应的用户名绑定信息
		也从redis里面删除。
